@{
    ViewData["Title"] = "Create Claim";
}

<div class="page">
    <div class="wrapper">
        <div class="form-box">
            <h1>Make a Claim</h1>
            <p>Please enter in all the required details.</p>
            <div class="input-box">
                <input type="text" required />
                <label>Lecturer ID</label>
            </div>

            <div class="input-box">
                <input type="text" required />
                <label>Contract ID</label>
            </div>

            <div class="input-box">
                <input type="text" required />
                <label>Claim Amount</label>
            </div>

            <div class="input-box">
                <input type="text" required />
                <label>Hours Worked</label>
            </div>
            <hr />
            <p class="file">Please upload the supporting documents.</p>
            <input type="file" name="file" />
            <hr />
            <button class="btn" type="submit">Submit Claim</button>
        </div>

    </div>
</div>