@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <div class="box">
        <h1>Welcome to the CMCS Web App</h1>
        <p>Use the navigation bar to access the different features of the app.</p>
        <p>Dean James Greeff </p>
        <p>ST10378305 </p>
    </div>

    <div class="box">
        <h1>About Us</h1>
        <p>Use the navigation bar to access the different features of the app.</p>
        <p>Dean James Greeff </p>
        <p>ST10378305 </p>
    </div>
</div>
