@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <h1>Home Page</h1>
    <div class="wrapper">
        <p>Welcome to the CMCS Web App</p>
        <p>Use the navigation bar to access the different features of the app.</p>
        <p>Dean James Greeff - ST10378305</p>
    </div>
</div>
