@{
    ViewData["Title"] = "Login";
}

<div class="page">
    <h1>Login</h1>
    <div class="wrapper">
        <p>Please select one of the following options.</p>

        <button class="btn admin" type="submit">Administrator</button>
        <button class="btn employee" type="submit">Lecturer</button>
    </div>
</div>
