@{
    ViewData["Title"] = "Login";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="page">
    <div class="wrapper">
        <div class="form-box">
            <h1>Staff Roles</h1>
            <p>These buttons have been added, to test the various Roles.  
               The data for these roles is displayed to the right by the "User Login Details" title.
            </p>
            <p>If these buttons do not work, please ensure you have pressed the 'Create Users' button on the home page.</p>
            <form asp-controller="Home" asp-action="LoginProgrammeCoordinator" method="post">
                <button class="btn admin" type="submit">Programme Coordinator</button>
            </form>
            <form asp-controller="Home" asp-action="LoginAcademicManager" method="post">
                <button class="btn admin" type="submit">Academic Manager</button>
            </form>
            <form asp-controller="Home" asp-action="LoginHR" method="post">
                <button class="btn admin" type="submit">Human Resources</button>
            </form>
            <form asp-controller="Home" asp-action="LoginLecturer" method="post">
                <button class="btn lecturer" type="submit">Lecturer</button>
            </form>
        </div>
        <div class="admin-details">
            <h1>User Login Details</h1>

            <h2>Programmme Co-Ordinator</h2>
            <p>Email: programme@example.com</p>
            <p>Password: Admin</p>
            <hr>

            <h2>Academic Manager</h2>
            <p>Email: academic@example.com</p>
            <p>Password: Admin</p>
            <hr>

            <h2>Human Resources</h2>
            <p>Email: hr@example.com</p>
            <p>Password: Admin</p>
            <hr>

            <h2>Lecturer</h2>
            <p>Email: lecturer@example.com</p>
            <p>Password: Lecturer</p>
        </div>
        <div class="form-box">
            <h1>Login</h1>
            <form asp-controller="Home" asp-action="Login" method="post">
                <div class="input-box">
                    <input type="email" name="Email" required />
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <input type="password" name="Password" required />
                    <label>Password</label>
                </div>

                @if (TempData["LoginFailed"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["LoginFailed"]
                    </div>
                }

                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>