@model CMCS_Web_App.Models.User;
@{
    ViewData["Title"] = "Register";
}

@if ((int)TempData["AccessLevel"] != 3)
{
    <div class="alert alert-danger">
        This page is only available to users with the HR role.
    </div>
}

@if ((int)TempData["AccessLevel"] == 3)
{
    <div class="page">
        <div class="wrapper">
            <div class="form-box">

                <h1>Register</h1>
                <p>Register a New Lecturer to add them to the System.</p>

                <form asp-controller="Home" asp-action="RegisterUser" method="post">

                    <div class="input-box">
                        <input type="text" asp-for="Email" required />
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <input type="text" asp-for="ContactNumber" required />
                        <label>Contact Number</label>
                    </div>

                    <div class="input-box">
                        <input type="text" asp-for="FirstName" required />
                        <label>First Name</label>
                    </div>

                    <div class="input-box">
                        <input type="text" asp-for="Surname" required />
                        <label>Surname</label>
                    </div>

                    <div class="input-box">
                        <input type="text" asp-for="Faculty" required />
                        <label>Faculty</label>
                    </div>

                    <p>This password is temporary. Lecturer must login to their account and change their password.</p>

                    <div class="input-box">
                        <input type="text" asp-for="Password" required />
                        <label>Password</label>
                    </div>

                    <button class="btn" type="submit">Register Lecturer</button>

                    @if (TempData["RegisterFailed"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["RegisterFailed"]
                        </div>
                    }
                    @if (TempData["RegisterSuccess"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["RegisterSuccess"]
                        </div>
                    }
                </form>

            </div>
        </div>
    </div>
}

