@{
    ViewData["Title"] = "Review Claim";
}

<div class="page">
    <h1>Review Requested Claims</h1>
    <div class="wrapper">
        <p>Review the list of all requested claims below.</p>
    </div>
</div>
