* {
    font-family: Poppins;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background: transparent;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 100;
    align-items: center;
    padding: 20px 50px;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

body {
    background: linear-gradient(#2a2a2a, #4d4d4d);
    background-size: cover;
    background-position: center;
    margin: 150px;
    color: #fff;
}

footer {
    position: absolute;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: transparent;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    border-top: 2px solid rgba(255, 255, 255, .4);
}

.navbar {
    background: transparent;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

    .navbar a {
        color: #fff;
        font-size: 20px;
        margin-left: 40px;
        text-decoration: none;
        position: relative;
    }

        .navbar a::before {
            color: #fff;
            content: '';
            background-color: #fff;
            width: 0;
            height: 2px;
            top: 100%;
            left: 0;
            position: absolute;
            transition: .3s;
        }

        .navbar a:hover::before {
            width: 100%;
        }

.logo, .logo:hover {
    text-decoration: none;
    font-size: 36px;
    color: #75ffd3;
    font-weight: 700;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*    height: 160vh;*/
    text-align: center;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #75ffd3;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0px;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 18px;
    color: #fff;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .5s;
    }

    .input-box input {
        background: transparent;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        color: #75ffd3;
    }

        .input-box input:focus ~ label,
        .input-box input:valid ~ label {
            top: -5px;
        }

.form-box h1 {
    font-size: 28px;
    padding: 20px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    background-color: #cdcdcd;
    color: #000;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

    .btn:hover {
        box-shadow: 2px 2px 8px 3px rgba(1,1,1,0.5);
        color: #000;
        background-color: #75ffd3;
    }

.admin {
    background-color: #ff5050;
    color: #000;
}

    .admin:hover {
        background-color: #ff2626;
    }

.employee {
    background-color: #cdcdcd;
    color: #000;
}

/*#75ffd3*/
